@font-face {
    font-family: maplestory_blod;
    src: url(../font/Maplestory\ Bold.ttf);
}



body {
    font-family: "maplestory_blod";

    background-color: lightsteelblue;

    margin: 0;
    padding: 0;

}


.nav-global{
    background-color: lightgray;

    /*🕵️‍♂️ 고민 : 단위를 잡을 때, px? vh? 100%?
        2) 장재원님은 
                width : 1110px
        3) 교수님은
                width: 100%;
                height: 80px
        4) 토스 
                width 100% 
                heigh  50px
        */
    height: 82px;
        /* 카뱅과 동일하게 설정 */
    width: 100%;
        /* 부모의 너비와 같게 설정 */
    
    display: block;

    /* 폰트 주기 */
    font-size: 18px;


    display: flex;
    justify-content: center;
    align-items: center;
}



    


.nav-global .nav-items {

    background-color: lightgreen;

    /* 모든 item 감싸는 영역의 크기 잡기*/
    height: 100%;
    width: 1080px; 
        /* 카뱅에서 1080px 로 잡음 따라가자 */
    
    /* display: flex; */
    /* justify-content: flex-end; */
    
    /* align-items: center;    */

    text-align: right;

    /* 앞에 점 없애는거 */
    list-style: none;

}



.nav-global .nav-items::before {

    content: "b";
    background-color: rebeccapurple;
    width: 50px;
    height: 50px;

    line-height: 40px;
    text-align: center;

    position: absolute;
    left: 100px;
    top: 15px; 

}


.nav-items .nav-logo{
    /* width: 50px; */
    /* height: 50px; */
    background-color: aquamarine;

    /* line-height: 0px; */
}

.nav-items .nav-logo .logo-img {
    /* background-color: green; */
    /* opacity: 0; */

    width: 50px;
    height: 50px;
    background-image: url(../img/gloves.png);
    background-size: 50px 50px;
    display: inline-block;
    float: left;

}



.nav-global .nav-items .nav-item {
    width: 80px;
    height: 80px;
    background-color: blue;
    display: inline-block;

    text-align: center;
    
    line-height: 40px;
}


